/*@import url(https://fonts.googleapis.com/css?family=Niconne);
@import url(https://fonts.googleapis.com/css?family=Muli:400, 400i|Roboto + Condensed:400, 600, 700);*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
html, body {
    height: 100%;/*padding: 0 !important;*/
}
.blog .entry .user-date ul,
.blog .pagination ul,
.blog-single .entry .user-date ul,
.blog-single .share ul,
footer .icon-social {
    list-style: none;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 95%;
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #888;
    /*font-family: sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: #343434;
    font-family: sans-serif, sans-serif;
}
.app-title h4,
.site-title h1 {
    font-family: Niconne, cursive;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}
a {
    color: #333;
}
.button,
.panel-control-left .sidenav-control-left i {
    color: #fff;
}
p {
    margin: 8px 0;
}
.button {
    background: #6742a8;
    border: 0 transparent;
    padding: 5px 12px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
}
.navbar {
    width: 100%;
    height: 60px;
    padding: 9px 0;
    z-index: 9;
    background: #6742a8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom: 2px solid #6742a8;
}
.panel-control-left .side-nav .collapsible-header:hover,
.side-nav a:hover {
    background: 0 0;
}
.site-title {
    display: inline-block;
    margin-left:8px;
    position: relative;
    top: -3px;
}
.site-title h1 {
    font-size: 36px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #fff;
}
.side-nav a {
    padding: 0 16px;
}
.panel-control-left {
    float: left;
    font-size: 20px;
    margin-top: 5px;
}
.panel-control-left ul {
    padding: 10px 0;
}
.panel-control-left ul li {
    border-bottom: dotted 1px #eee;
}
.panel-control-left .collapsible-body ul li:last-child {
    margin-bottom: 0;
}
.panel-control-left ul li:last-child {
    border-bottom: 0;
    /*margin-bottom: 80px;*/
    margin-bottom: 50px;
}
.panel-control-left ul li a {
    font-size: 15px;
    font-weight: bold;
}
.panel-control-left .side-nav li a i {
    margin-right: 5px;
    color: #6742a8;
}
.panel-control-left .side-nav .collapsible-header {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
}
.panel-control-left .side-nav .collapsible-header span i {
    float: right;
    text-align: right;
    font-size: 12px;
}
.panel-control-left .side-nav .collapsible-header.active {
    border-bottom: dotted 1px #ddd;
}
.panel-control-left .side-nav li.active {
    border-bottom: solid 1px #eee;
    background: 0 0;
}
.panel-control-left .side-nav .collapsible-header i {
    color: #6742a8;
    font-size: 16px;
    width: 24px;
    margin-right: 5px;
    text-align: left;
}
.panel-control-left .collapsible-body ul {
    padding: 0;
    margin: 0;
}
.panel-control-left .collapsible-body ul li a {
    padding-left: 45px;
    height: 40px;
    line-height: 40px;
}
.panel-control-left .categories-in li {
    line-height: 40px;
}
.panel-control-left .categories-in .collapsible-header {
    padding-left: 45px;
}
.panel-control-left .categories-in .collapsible-body ul li a {
    /*height: 36px;
    line-height: 36px;
    padding-left: 60px;*/
        height: auto;
    line-height: 36px;
    padding-left: 60px;
        padding: 0px 30px 0px 60px;
}
.panel-control-right {
    float: right;
    font-size: 20px;
}
.panel-control-right h6 {
    font-size: 16px;
}
.panel-control-right .side-nav li a i {
    margin-right: 5px;
}
.panel-control-right .sidenav-control-right i {
    right: -8px;
    position: relative;
    font-size: 18px;
    color: #fff;
}
.panel-control-right .sidenav-control-right span {
    background: #6742a8;
    border-radius: 50%;
    color: #fff;
    position: relative;
    bottom: 8px;
    padding: 1px 5px;
    font-size: 12px;
}
.panel-control-right img {
    width: 100%;
    height: 100%;
}
.panel-control-right .side-nav {
    padding: 30px 10px;
}
.panel-control-right .action i {
    float: right;
    cursor: pointer;
    font-size: 18px;
}
.panel-control-right .entry {
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
}
.panel-control-right .desc .rating {
    position: relative;
    bottom: 5px;
}
.panel-control-right .desc i {
    font-size: 14px;
}
.panel-control-right .desc h6 span {
    color: #6742a8;
}
.panel-control-right .price {
    text-align: right;
}
.panel-control-right ul li {
    display: inline-block;
    text-align: right;
    float: right;
    margin: 10px 10px 10px 0;
}
.panel-control-right ul li .button {
    font-size: 16px;
    line-height: 25px;
    position: relative;
    bottom: 20px;
}
.slider-slick {
    position: relative;
    /*overflow: hidden;*/
}
.slider-slick .slider-entry {
    position: relative;
    height: auto;
}
@media (min-width: 768px) {
    .slider-slick .slider-entry {
        position: relative;
        height: 430px;
    }
}
.slider-slick .overlay {
    background: rgba(0, 0, 0, 0.67);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
}
.slider-slick img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-slick .caption {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    z-index: 999;
    overflow-wrap: break-word;
    text-align: center;
    top: 50% !important;
    transform: translateY(-50%);
    bottom: 0;
}
.blog-single .author .entry,
.chef .entry,
.chef .entry .content,
.menu-list .entry,
.menu-list .entry .content,
.review .comment .content .entry {
    overflow: hidden;
}
.slider-slick .caption h2 {
    color: #fff;
}
.slider-slick .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
}
.slider-slick .slick-dots li {
    width: auto;
}
.slider-slick .slick-dots li button {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}
.offers .entry i,
.slider-slick .slick-dots li.slick-active button {
    background: #6742a8;
}
.slider-slick .slick-dots li button::before {
    font-size: 0;
    color: transparent;
}
.offers {
    text-align: center;
    padding: 15px 0;
}
.offers .entry i {
    width: 80px;
    height: 80px;
    color: #fff;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 14px;
    border: 6px double #fff;
}
.menu .content .entry img,
.menu-grid .entry img {
    /*width:100%;height:100%*/
}
.rating {
    font-size: 12px;
    margin-top: 5px;
}
.open-hours {
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(12, 11, 11, 0.82), rgba(12, 11, 11, 0.82)), url(../img/fixed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
}
.open-hours .entry {
    border: 1px solid #fff;
    padding: 25px 16px;
    margin-bottom: 10px;
}
.menu .content .entry,
.menu-grid .entry {
    border-radius: 0px;
    padding: 10px;
    /*text-align: center;*/
    position: relative;
}
.open-hours .app-title h4,
.open-hours .entry h5 {
    color: #fff;
}
.open-hours .entry h6 {
    margin-top: 5px;
    color: #eee;
}
.open-hours .entry .dividing {
    margin: 15px 0;
}
/*.menu {
    text-align: center;
}*/
.menu .app-title {
    margin-bottom: 10px;
}
.menu .content .tabs {
    margin-bottom: 10px;
    text-align: center;
}
.menu .content .tabs .tab {
    text-transform: none;
}
.menu .content .tabs .tab a {
    color: #444;
    font-size: 14px;
}
.menu .content .tabs .tab a.active {
    color: #6742a8;
}
.menu .content .tabs .indicator {
    background: 0 0;
}
.menu .content .entry .button {
    margin-top: 10px;
    margin-bottom: 5px;
}
.menu .content .entry .price,
.menu .content .entry .rating,
.menu .content .entry h6 {
    margin-top: 2px;
}
.menu-grid .entry .button {
    margin-top: 10px;
    margin-bottom: 5px;
}
.rating .active {
    color: #fecd2d;
}
.menu-grid .entry .price,
.menu-grid .entry .rating,
.menu-grid .entry h6 {
    margin-top: 2px;
}
.menu-list .entry {
    /*border:1px solid #ddd;*/
    padding: 15px;
    /*margin-bottom: 20px;*/
}
.menu-list .entry img {
    float: left;
    width: 110px;
    height: auto;
    margin-right: 16px;
}
.menu-list .entry .content ul {
    padding: 0;
    margin: 0;
}
.menu-list .entry .content ul li {
    display: inline-block;
    margin-right: 6px;
}
.menu-list .entry .content ul li a i {
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    line-height: 20px;
    text-align: center;
}
.menu-list .entry .content .price {
    margin-top: 5px;
}
.menu-list .entry .content .button {
    margin-top: 12px;
}
.chef .entry {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}
.chef .entry img {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 16px;
}
.chef .entry .content ul {
    padding: 0;
    margin: 0;
}
.chef .entry .content ul li {
    display: inline-block;
    margin-right: 6px;
}
.chef .entry .content ul li a i {
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    line-height: 20px;
    text-align: center;
}
.reservation .order {
    background: #fefefe;
    margin-top: 25px;
    padding: 16px 12px 2px;
    border: 1px solid #ddd;
    margin-bottom: 35px;
}
.reservation .order .title {
    text-align: center;
}
.reservation .order h5 {
    margin-bottom: 14px;
}
.reservation .order h5 span {
    font-size: 18px;
}
.reservation .order h6 {
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
}
.reservation .link {
    position: relative;
    top: -12px;
}
.reservation .order .text-right {
    text-align: right;
}
.reservation .order .button {
    margin: auto;
    display: block;
}
.app-section {
    padding: 40px 0;
}
.app-pages {
    margin-top: 60px;
}
.app-title {
    text-align: center;
    margin-bottom: 30px;
}
.app-title h4 {
    font-size: 40px;
}
.app-title .line {
    padding: 0;
    margin: 0;
}
.app-title .line li {
    display: inline-block;
}
.app-title .line li i {
    color: #6742a8;
}
.app-title .line .line-center {
    font-size: 20px;
    vertical-align: middle;
}
.pages-title {
    margin-bottom: 30px;
    text-align: center;
}
.pages-title h3 {
    font-size: 28px;
}
.app-bg-dark {
    background: #f3f3f3;
}
.app-bg-light {
    background: #fff;
}
.app-bg-light .entry {
    background: #f3f3f3;
}
.app-last-row {
    margin-bottom: 0;
}
.product-details .entry {
    position: relative;
}
.product-details .entry img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
}
.product-details .entry .tabs {
    height: auto;
}
.product-details .entry .tabs a.active {
    border: 1px solid #6742a8;
}
.product-details .entry .tabs a {
    border: 1px solid #ddd;
}
.product-details .entry .tabs img {
    border: 0;
}
.product-details .entry .tabs .indicator {
    height: 0;
    background: 0 0;
}
.product-details .entry .tabs .tab {
    height: auto;
}
.product-details .details .button {
    margin-top: 20px;
}
.product-details .desc-review {
    margin-top: 30px;
}
.product-details .desc-review .tabs {
    height: 30px;
    background: transparent;
}
.product-details .desc-review .tabs .indicator {
    background: #6742a8;
}
.product-details .desc-review .tab {
    height: 30px;
    text-transform: none;
}
.review .comment .content .entry {
    margin-bottom: 22px;
}
.review .comment .content p {
    margin: 8px 0;
}
.review .comment .content img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}
.review .comment .content {
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    margin-top: 10px;
}
.review .post-review {
    margin-top: 20px;
}
.review .post-review h6 {
    margin-bottom: 15px;
}
.product-cart .entry {
    border: 1px solid #ddd;
    padding: 10px 16px 0 10px;
}
.product-cart .cart-total h6,
.product-cart .entry h6 {
    font-size: 15px;
}
.product-cart .entry img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}
.product-cart .entry .cart-title {
    padding: 10px 0 0;
}
.product-cart .entry .cart-title i {
    text-align: right;
    float: right;
}
.product-cart .entry .s-title {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.product-cart .entry input[type="number"] {
    height: 25px;
    border: 1px solid #ccc;
    padding: 0;
    width: 40px;
    text-align: center;
    position: relative;
    bottom: 4px;
}
.blog .entry img,
.blog-single .entry img,
.categories .entry img {
    width: 100%;
    height: 100%;
}
.product-cart .cart-total {
    text-align: right;
    margin-top: 25px;
}
.product-cart .cart-total h5,
.product-cart .cart-total h6 {
    margin-bottom: 10px;
}
.product-cart .cart-total .button {
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
}
.categories .entry {
    border: 1px solid #ddd;
    text-align: center;
}
.categories .entry h6 {
    padding: 0 12px;
}
.categories .entry span {
    display: block;
    padding: 2px 12px 15px;
}
.categories .entry img {
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog {
    position: relative;
}
.blog .entry {
    margin-bottom: 30px;
}
.blog .entry .user-date ul li {
    display: inline-block;
    margin-right: 12px;
}
.blog .entry .user-date ul li a i {
    margin-right: 6px;
    color: #6742a8;
}
.blog .pagination ul {
    margin-top: 40px;
    text-align: center;
}
.blog .pagination ul li {
    display: inline-block;
    background: #f3f3f3;
    margin: 0 2px;
    border: 1px solid #dedede;
}
.picker--focused .picker__day--selected,
.picker__day--selected:hover,
form .picker__date-display,
form .picker__day--selected,
form .picker__weekday-display {
    background-color: #6742a8;
}
.login .or h5,
.picker__nav--next:hover,
form .picker__nav--prev:hover {
    background: #6742a8;
}
.blog .pagination ul .active {
    background: #6742a8;
    color: #fff;
    border-color: #6742a8;
}
.blog-single {
    position: relative;
}
.blog-single .entry {
    margin-bottom: 30px;
}
.blog-single .entry .user-date ul li {
    display: inline-block;
    margin-right: 12px;
}
.blog-single .entry .user-date ul li a i {
    margin-right: 6px;
    color: #6742a8;
}
.blog-single .share ul {
    margin-top: 15px;
}
.blog-single .share ul li {
    display: inline-block;
}
.blog-single .share ul li h6 {
    margin-right: 4px;
    position: relative;
    bottom: 2px;
}
.blog-single .share ul li a i {
    font-size: 20px;
    margin: 0 4px;
}
.blog-single .author {
    border-top: 1px solid #eee;
    padding-top: 20px;
    position: relative;
}
.blog-single .author p {
    margin: 8px 0;
}
.blog-single .author img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.blog-single .author .entry ul {
    padding: 0;
    margin: 0;
}
.blog-single .author .entry ul li {
    display: inline-block;
    margin-right: 3px;
}
.blog-single .comment .content .entry {
    overflow: hidden;
    margin-bottom: 22px;
}
.blog-single .comment .content p {
    margin: 8px 0;
}
.blog-single .comment .content,
.blog-single .post-comment .content {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 10px;
}
.blog-single .post-comment .content textarea,
form textarea {
    margin-bottom: 20px;
}
.blog-single .comment .content img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
}
@media (min-width: 768px) {
    .blog-single .comment .content {
        border-top: 1px solid #eee;
        padding-top: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }
}
form .select-wrapper input.select-dropdown,
form input[type="number"],
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="date"] {
    border: 1px solid #ddd;
    height: 36px;
    border-radius: 2px;
    width: 100%;
    overflow: visible;
    padding: 0 10px;
    box-sizing: border-box;
}
form input:not([type]):focus:not([readonly]),
form input[type="number"]:focus:not([readonly]),
form input[type="text"]:focus:not([readonly]),
form input[type="email"]:focus:not([readonly]),
form input[type="password"]:focus:not([readonly]),
form input[type="tel"]:focus:not([readonly]),
form input[type="date"]:focus:not([readonly]) {
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}
form textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 100%;
    overflow: visible;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}
form .picker__day.picker__day--today {
    color: #6742a8;
}
::-webkit-input-placeholder {
    color: #666;
}
:-moz-placeholder {
    color: #666;
}
::-moz-placeholder {
    color: #666;
}
:-ms-input-placeholder {
    color: #666;
}
.login strong {
    display: block;
    position: relative;
    bottom: 5px;
}
.login .forgot {
    margin-bottom: 10px;
    display: block;
}
.login [type="checkbox"] + label {
    padding-left: 30px;
    color: #333;
}
.login .or h5,
.register .or h5 {
    height: 40px;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
.login [type="checkbox"]:checked + label::before {
    border-right: 2px solid #6742a8;
    border-bottom: 2px solid #6742a8;
}
.login .button {
    margin-top: 12px;
    margin-bottom: 24px;
    width: 100%;
}
.login .create-account {
    text-align: center;
}
.login .or h5 {
    width: 40px;
    margin: 10px auto;
}
.login .or .button {
    margin-top: 12px;
    margin-bottom: 12px;
}
.login .facebook {
    background: #3b5998;
}
.login .twitter {
    background: #00aced;
}
.login .google {
    background: #dd4b39;
}
.register .button {
    margin-top: 5px;
    margin-bottom: 14px;
    width: 100%;
}
.register .login-now {
    text-align: center;
    display: block;
    padding-bottom: 20px;
}
.register .or h5 {
    width: 40px;
    background: #6742a8;
    margin: 20px auto 10px;
}
.register .or .button {
    margin-top: 12px;
    margin-bottom: 12px;
}
.register .facebook {
    background: #3b5998;
}
.register .twitter {
    background: #00aced;
}
.register .google {
    background: #dd4b39;
}
.page-404 {
    text-align: center;
}
.page-404 h3 {
    font-size: 96px;
}
.page-404 h3 span {
    color: #6742a8;
}
.page-404 .button {
    margin: 10px 0;
    display: inline-block;
}
.page-404 .button a {
    color: #fff;
}
.testimonial {
    text-align: center;
}
.testimonial .app-title {
    margin-bottom: 10px;
}
.testimonial img {
    border-radius: 50%;
    margin: 5px 0;
    height: 60px;
    width: 60px;
}
.faq .collapsible {
    border: none;
    box-shadow: none;
}
.faq .collapsible li {
    margin-bottom: 6px;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.faq .collapsible li .collapsible-header {
    font-size: 16px;
    color: #666;
}
.faq .collapsible li .collapsible-header i {
    float: right;
    margin-right: 0;
    width: auto;
    font-size: 14px;
}
.faq .collapsible li .collapsible-body p {
    padding: 16px;
}
footer {
    background: #111;
    text-align: center;
    padding:15px 0;
    display: block;
}
footer h6 {
    color: #ddd;
}
footer .icon-social {
    padding: 0;
    margin: 20px 0 15px;
}
footer .icon-social li {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 3px;
    border-radius: 100%;
}
footer .icon-social .facebook {
    background: #3b5998;
}
footer .icon-social .twitter {
    background: #00aced;
}
footer .icon-social .google {
    background: #dd4b39;
}
footer .icon-social .instagram {
    background: #517fa6;
}
footer .icon-social .rss {
    background: #fe7e00;
}
footer ul li a {
    color: #fff;
}
footer .tel-fax-mail ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #bbb;
}
footer .tel-fax-mail ul li {
    padding: 4px 0;
}
footer .tel-fax-mail ul li span {
    font-weight: 700;
    padding: 0;
    margin: 0;
}
footer .ft-bottom {
    border-top: 1px solid #222;
    margin-top: 20px;
    padding-top: 20px;
    color: #999;
}
/*.navbar .panel-control-right {
    display: none; 
}*/
.entry h5 a {
    font-weight: 600;
    margin-top: 6px;
    font-size: 15px;
    color: #6742a8;
}
.tabs .tab a {
    text-transform: capitalize;
    font-weight: 600;
}
/*.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: #6742a8;
    color: #fff !important;
}*/
.entry h5 {
    /*margin-top: 21px;*/
    text-align: center;
}
.app-title h4,
.site-title h1 {
    font-family: sans-serif;
    margin-top: 5px;
}
.main__container {
    width: 100%;
}
.item {
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    padding: 10px;
}
@media(min-width: 800px) {
    .item {
        width: 49%;
    }
}
.panel-hide {
    display: none;
}
.red {
  background: red;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
/*added css*/
.filters {
    overflow-x: scroll;
    display: block;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: left;
    padding: 0px 10px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
    margin-bottom: 20px;
}
.filter-btn {
    color: rgba(238,110,115,0.7);
    display: table-cell;
    width: auto;
    height: 100%;
    padding: 10px 10px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
    background-color: #d8d8d8;
    color: #000 !important;
    border-radius: 0.2rem;
    margin: 0 4px;
    line-height: 1.2;
    text-transform: capitalize;
}
.off{
    border: none;
}
.checked{
  font-style: italic;
  background-color:yellow;
}
.filter-button {
    color: rgba(238,110,115,0.7);
    display: table-cell;
    width: auto;
    height: 100%;
    padding: 10px 6px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
    background-color: #d8d8d8;
    color: #000;
    border-radius: 0.2rem;
    margin: 0 4px;
    line-height: 1.2;
    text-transform: capitalize;
    border: none;
    margin-bottom: 10px;
}
.filter-button.checked {
    background-color: #6742a8;
    color: #fff;
    font-style: inherit;
}
/*new_css_start*/
.app-section-ctm{
    padding-top:90px;
}
.filter-button{
    background: transparent;
    background: transparent;
    border-bottom: 3px solid #a2a2a2;
    color: #a2a2a2;
    border-radius: 0px;
}
.filter-button.checked{
    background-color:transparent;
    color: #6742a8 !important;
    border-bottom: 3px solid #6742a8;
    border-radius: 0px;
}
.tabs .tab a{
    background: transparent;
}
.tabs .tab a.active{
    background-color: transparent;
    color: #6742a8 !important;
    border-bottom: 3px solid #6742a8;
}
.product-details .desc-review .tabs .indicator{
    background: transparent;
}
.price-new{
    /*float: center !important;*/
    text-align: center;
        margin-top: 10px;
}
.price-new h4{
    margin-top: 0px !important;
    color:#6742a8;
    font-size: 20px;
}
table{
    border: 1px solid #ddd;
    margin-top:20px;
}
td, th{
    border-bottom: 1px solid #ddd;
}
td{
    padding-left: 15px;
}
th{
    padding-left: 15px;
    border-right: 1px solid #ddd;
}
.entry h5 {
    font-weight: normal;
}
.content a h6{
    color: #6742a8;
    font-weight: bold;
}
.new_dis{
    color: #a2a2a2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.section-title-new{
    color: #6742a8;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 5px;
}
.need{
    font-weight: bold;
}
.tabs .tab a{
    border-bottom: 3px solid #a2a2a2;
    color: #a2a2a2 !important;
    border-radius: 0px;
}
.tabs-new .tab a{
    color: #343434;
    font-size: 20px;
    line-height: 15px;
    font-weight: normal;
    padding-top: 7px;
}
.review .post-review h6{
    color: #6742a8;
    font-weight: bold;
}
.login_footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.menu-list .entry {
    border-bottom: 1px solid #ddd;
}
.likedislikerate {
    margin-top: 10px;
    text-align: center;
}
.price_cate{
    width: 100%;
    display: block;
}
.price_cate h6{
    display: inline-block;
    /*width: 68%;*/
    width: 62%;
}
.price_cate h5{
    display: inline-block;
    float: right !important;
    margin-top: 0px;
    margin-right: 15px;
}
.categories-list-ctm .entry img{
    padding: 40px 0px;
}
.menu-list .categories_items_tab .entry{
    padding: 10px 0px;
    margin-bottom: 0px;
}
.categories_items_tab .tabs .tab a{
    text-overflow: inherit;
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    border-bottom: 3px solid #a2a2a2;
    color: #a2a2a2 !important;
}
.categories_items_tab .tabs .tab a.active{
    color: #6742a8 !important;
    border-bottom: 3px solid #6742a8;
}
.categories_items_tab .tabs .tab{
    margin: 0px 5px;
}
.product-details-main .details {
    text-align: center;
}
.ms-profile-information th{
        color: #000;
}
.dtl_ctm_icon img{
    width: 18px !important; 
    height: 20px !important;
    margin-top:10px;
    margin-right: 10px;
}
.dtl_ctm_icon .dtl_ctm_icon_2 {
    margin-right: 0px;
}
.login_btn_in_menu{
    /*padding: 0px 5px;
    position: fixed;
    bottom: 70px;
    width: 100%;*/
    padding: 0px 5px;
    position: fixed;
    top: 72px;
    width: 100%;
    background: #fff;
    padding-bottom: 10px;
}
.login_btn_in_menu .button {
    background: #6742a8;
    border: 0 transparent;
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    width: 49%;
}
.login_btn_in_menu .sign_btn {
    background: #916ece;
}
.main_color{
    color: #6742a8;
}
.thumbs_icon{
    color: #2e5090;
    font-size: 21px;
}
.thumbs_down_icon{
    color: red;
    font-size: 21px;
}
.thumbs_icon_big{
        color: #6742a8;
    font-size: 41px
}
.thumbs_down_big_icon{
    color: red;
    font-size: 41px;
}
.need_mb15{
    margin-bottom: 15px;
}
.logo_side_one{
    text-align: center;
}
.app-section-home{
    padding: 0px 0;
}
.ft-bottomf{
    color: #fff;
    font-size: 13px;
}
.side-nav-img .collapsible-header img {
    margin-top: 6px;
    vertical-align: top;
    margin-right: 5px;
    max-width: 40px;
}
.side-nav-img .side-nav-panel img{
    margin-top: 6px;
    vertical-align: top;
    margin-right: 5px;
}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header{
    padding: 0px 16px;
}
.side-nav-img .categories_icon img{
    margin-top: 0;
    vertical-align: middle;
    margin-right: 0;
}
.app-section-category{
    padding-top: 50px;
}
.app-section-category  .entry{
    padding:0px 8px 15px 8px;
}
.app-section-category .dtl_ctm_icon img{
    width: 15px;
    height: 15px;
    margin-top:4px;
    margin-right: 3px;
    padding: 0px;
}
.app-section-category .likedislikerate{
    text-align: right;
    padding-right: 6px;
}
.categories-list-ctm .entry img{
    padding: 0px;
}
.app-section-category  .entry{
    margin-bottom: 15px;
}
.app-section-category .entry .content .price{
    margin-top: 0px;
}
.filter-button:focus{
    background: transparent;
    color: #a2a2a2;
}
.slider-slick .restaurent_logo{
    width: auto;
    object-fit: inherit;
    margin: 10px auto;
    height: 164px !important;
}
.logo_text{
    color: #fff;
    font-size: 26px;
    line-height: 46px;
    font-weight: bold;
}
/*new_css_end*/
/*10_jun_21_css_start*/
.panel-control-left .categories-in .collapsible-header p{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    max-width: 170px;
    /*width: 170px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.first_li{
    margin-top: 48px;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}
.page-wrap:after {
    content: "";
    display: block;
}
footer, .page-wrap:after {
}
/*10_jun_21_css_end*/
/* Krina's START here */
.is-invalid{
    border: 1px solid red !important;
}
.is-valid{
    border: 1px solid green !important;
}
.alert{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
#logout_button{
    border: 0 transparent;
    padding: 0;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    width: 49%;
    background: #916ece;
    text-align: center;
    color: #ffffff;
}
.restaurent_logo{
    height: 150px !important;
    width: 150px !important;
}
#sidebar_category{

    padding: 0;
}
#no_data_found{
    padding-left: 15px;
}
.filters::-webkit-scrollbar { display: none !important; }
.filter{
    padding-right: 5px;
}
#tag_filters{
    padding-right: 5px;
}
.entry a>img{
    height: 100px !important;
}
#t1{
    margin-bottom: 20px;
}
.collapsible-header{
    margin-top: 12px;
}
#submit_button{
    text-align: center;
}
.dropdown-content li > a, .dropdown-content li > span{
    color: #6742a8;
}
/* Krina's END here */
.details .main_color {
    font-weight: 600;
}
.app-section .entry{
    padding: 15px 15px 20px 15px !important;
    margin-bottom: 0px;

}
.app-section .entry h5 {
    text-align: left;
}
.logo-img {
    height: auto !important;;
    width:110px !important;;
}
span.small_fav_icon {
    float: right;
    margin-bottom: 10px;
    font-size: 20px;
}
#logout_button {
    background: #2e5090;
    font-style: normal;
    margin: 0 auto;
}
/*=========Right panle css=======*/
.panel-control-right {
    float: right;
    font-size: 16px;
    width: 22%;
}
.panel-control-right .select-wrapper {
    position: relative;
    width: 40%;
    float: left;
}
.panel-control-right .currency-name {
    width: 30%;
    float: left;
    font-size: 14px;
    color: #fff;
    padding-top: 8px;
}
.panel-control-right ul.list-unstyled.list-inline.ct-topbar__list {
    width: 30%;
    float: left;
    margin-top: -10px;
    padding: 0;
}
.panel-control-right .select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: block;
}
.language_class {
    display: none;
}
.panel-control-right ul li {
    display: inline-block;
    text-align: right;
    float: right;
    margin: 10px 10px 10px 0;
    padding: 10px;
    border-radius: 4px;
}
.earth_class {
    background-image: url(../theme/user_app/img/earth.png);
    width: 15px;
    height: 15px;
    position: relative;
    top: 6px;
    background-size: 13px;
    background-repeat: no-repeat;
    margin-right: 5px;
    left: 0;
    float: left;
}
.panel-control-right .dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 40px;
    line-height: 1.2;
    width: 100%;
    text-align: left !important;
    text-transform: none;
    margin: 2px 10px 2px 0 !important;
    padding: 0 !important;
}
ul.list-unstyled.ct-language__dropdown {
    background-color: #fff;
    overflow-y: scroll;
}
ul.list-unstyled.ct-language__dropdown::before {
    display: none;
}
ul.list-unstyled.ct-language__dropdown li {
    padding: 7px;
    margin: 0;
    background-color: transparent;
}
.not_available_tag {
    color: black;
    background-color: #ffb800;
    line-height: normal;
    border-radius: 0.75rem;
    padding: 2px 7px;
    border: 1px solid transparent;
    width: auto;
    display: inline-block;
    font-size: 13px;
    margin-top: 7px;
}
/*23-aug css*/
.favs_icon{
    color: #ffffff;
    font-size: 28px;
}
/*new_css_start_24_aug*/
.page-wrap{
    padding-bottom:44px;
}
.footer_new{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: #e9e9e9;
    z-index: 2;
    padding: 10px 0px;
}
.footer_new ul{
    padding: 0px ;
    margin: 0px;
}
.footer_new ul li{
    display: inline-block;
    width: 32%;
}
.footer_new ul li a{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #363636;
    font-style: normal;
    font-family: Arial;
}
.footer_new ul li a i{
    width: 100%;
    display: block;
    margin-bottom:2px;
    font-size:20px;
}
.footer_new ul .active a{
    color: #2e5090;
}
.drop_new_lag_cry .ct-language{
    background: transparent;
}
.drop_new_lag_cry ul li{
    width: 60px;
    float: left;
}
.drop_new_lag_cry .ct-language__dropdown{
    right: 5px;
    left: auto;
}
.drop_new_lag_cry .earth_class {
    background-image: none;
    width: auto;
    height: auto;
    top: 0px;
}
.drop_new_lag_cry .earth_class i{
    vertical-align: middle;
    font-size: 22px;
}
.drop_new_lag_cry .fa-chevron-down{
    vertical-align: middle;
}
.panel-control-right_main  ul.list-unstyled.list-inline.ct-topbar__list{
    width: 50%;
}
.drop_new_lag_cry{
    width: 10%;
}
.drop_new_lag_cry .dollar_class{
    margin-left: 0;
    left: 5px;
}
.new_heart{
    top: -40px;
    position: absolute;
    left: 15px;
    z-index: 1;
}
.menu_details_new_icon >ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}
.menu_details_new_icon >ul >li{
    display: inline-block;
    margin: 0px 7px;
}
.menu_details_new_icon >ul >li >a{
    font-size: 25px;
    display:inline-block;
}
.app-section .entry{
    position: relative;
}
.fav_menu_item{
    position: absolute;
    left: 20px;
    top: 20px;
    color: #2e5090;;
    font-size: 18px;
    z-index: 1;
}
.create_account_new_btn a{
    display: inline-block;
    width: 47%;
    margin-top: 15px;
    background-color: #4267B2;
    font-size: 15px;
}
.create_account_new_btn a:last-child{
    float: right;
    background: #db4a39 ;
}
.admin_tag {
    color: #ffffff;
    background-color: #2e5090;
    line-height: 2;
    border-radius: 0.75rem;
    padding: 4px 10px;
    border: 1px solid transparent;
}
.app_banner img{
    width: 100%;
}
.profile_menu_new ul{
    margin:20px 20px 0px 20px;
}
.profile_menu_new ul li{
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 35px;
}
.profile_menu_new ul li i{
        font-size: 25px;
    color: #2e5090;
    margin-right: 20px;
    vertical-align: middle;
    width: 29px;
    text-align: center;
    line-height: 25px;
} 
.profile_menu_new ul li i img{
    width: 24px;
}
.profile_menu_new ul li a{
    font-size: 20px;
    font-weight: bold;
    color: #231f20;
    vertical-align: middle;
} 
.edit_profile_main{
    margin-top: 30px;
}
.edit_profile_main  label{
    font-size: 15px;
    margin-bottom: 6px;
    display: inline-block;
    width: 100%;
    color: #2e5090;
    font-weight: 600;
}
.edit_profile_main .form-control ,.edit_profile_main .select-wrapper input.select-dropdown{
    height: 45px;
    border: 1px solid #c7c7c7;
    font-size: 16px;
    border-radius: 8px;
}
.new_btn_ctm{
    width: 100%;
    background-color: #2e5090;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    height: 42px;
    line-height: 42px;
    border-radius: 8px;
    border: none;
}
.menu-list .entry img {
    width: 40px;
    height: 40px;
}
.app-section .entry h5{
    padding-top: 0px;
}
.entry a>img{
    height: 40px !important;
}
/*.slider-slick .slider-entry{
    width: 600px !important;
}*/
.slider-slick img{
    height: 250px !important; 
}
.restaurent_logo{
    height: 120px !important;
    width: auto!important;
    max-width: 220px !important;
}
.top_common{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}
.title_common{
    font-size: 20px;
    color: #2e5090;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}
.admin_tag{
    background: #b5cfff;
    color: #000;
    font-size: 15px;
    padding: 10px 15px;
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-block;
    line-height: normal;
    margin-right: 10px;
}
.keyword_main .title_common{
    margin-top:0px;
}
.keyword_main #custom-label{
        font-size: 15px;
    margin-bottom: 6px;
    display: inline-block;
    width: 100%;
    color: #2e5090;
    font-weight: 600;
}
.keyword_main .form-control{
        height: 45px;
    border: 1px solid #c7c7c7;
    font-size: 16px;
    border-radius: 8px;
}
.keyword_main  .admin_tag{
    width: 100%;
    background: #FFF;
    margin-right: 0px;
    padding: 12px 15px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.18);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.18);
}
.keyword_main .admin_tag i{
    float: right;
    text-align: right;
    color: #ff0000;
}
.app_title_fav{
    margin-top:30px;
    text-align: left;
    margin-bottom:20px;
}
.app_title_fav_items .title_common{
    text-align: left;
    margin-top: 0px;
}
.mb0{
    margin-bottom: 0px;
}
.app_fav_items_main .price_cate p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.app_fav_items_main .new_dis{
    margin-top: 0px;
}
.app_title_fav_items{
    margin-bottom: 20px;
}
#social-links ul li a span {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fav_menu_item_detail_page{
    left: 20px;
    top: 5px;
    color: #2e5090;;
    font-size: 18px;
    z-index: 1;
}
.form-popup.new_popup{
    top: 60px;
    bottom: auto !important;
    background: #FFF;
    top: 50% !important;
    transform: translateY(-50%);
    left: 0;
    right: 0px ;
    margin: 0px 10px;
}
.new_popup .form-container .btn{
    padding: 0;
}
.new_popup .modal-header a{
        color: red;
    position: absolute;
    right: -10px;
    font-size: 19px;
    /* background-color: #FFF; */
    top: -20px;
    background: #FFF;
    width: 35px;
    height: 35px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #DDD;
    display: none;
}
.drop_new_lag_cry  i{
    vertical-align: middle;
    font-size: 22px;
    color: #FFF;
    margin-top: 9px;
}
.allergy_tag_main{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 94%;
    height: 98%;
    text-align: center;
    z-index: 2;
    color: red;
    font-size: 24px;
    font-weight: bold;
}
.allergy_tag_main .allergy_tag{
    position: relative;
    top: 36% !important;
    vertical-align: middle;
}
.app-title.app_title_fav_items {
    margin-top: 30px;
}
.search_model{
    z-index: 10 !important;
    top: auto;
    bottom: 70px !important;
}
.welcome_text_profile a{
    text-align: center;
    padding:25px 0px 10px 0px;
    font-size:20px;
    font-weight: bold;
    color: #888;
    width: 100%;
    display: block;
}
.navbar {
    border-bottom: 2px solid transparent !important;
}
.menu_details_new_icon ul li{
    margin:0px;
    margin-right: 35px;
    vertical-align: top;
}
.menu_details_new_icon ul li:last-child{
    margin-right: 0px;
}
.menu_details_new_icon >ul >li >a {
    font-size: 30px;
        line-height: normal;
}
.menu_details_new_icon >ul >li .thumbs_icon {
    font-size: 30px;
    vertical-align: top;
}
.menu_details_new_icon >ul >li  .thumbs_down_icon{
    font-size: 30px;
    vertical-align: top;
}
.menu_details_new_icon ul li .span_font_size{
    font-size:22px;
    vertical-align: top;
    padding-left: 5px;
}
.menu_details_new_icon ul li .fa{
    vertical-align: top;
}
.modal.share_model {
    max-height: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 32px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: transparent;
    box-shadow: none;
}
.share_model .modal-content{
    width: 100%;
    padding: 0px 0px;
    position: relative;
}
.share_model .close{
    position: absolute;
    top: -30px;
    right: auto;
    background: #FFF;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    left: 44%;
    text-align: center;
    color: red;
    font-size: 30px;
    display: none;
}
.share_model ul{
    /*margin-left: 20px;*/
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
    border: 1px solid #e4e4e4;
}
.share_model ul li{
    display: inline-block;
    text-align: center;
    margin-right: 0px;
    width: 30px;
        margin-right: 20px;
}
.share_model ul li a .fa-facebook-official:before{
    font-size: 30px;
    color: #4267B2;
}
.share_model ul li a .fa-twitter:before{
    font-size: 30px;
    color: #1DA1F2;
}
.share_model ul li a .fa-reddit:before{
    font-size: 30px;
    color: #808080;
}
.share_model ul li a .fa-linkedin:before{
    font-size: 30px;
    color: #0077b5;
}
.share_model ul li a .fa-whatsapp:before {
    font-size: 30px;
    color: #25D366;
}
.share_model ul li a .fa-telegram:before{
    font-size: 30px;
    color: #0088cc;
}
.row .col.s6.w100{
    width: 100%;
}
.price_new_ctm{
    text-align: center;
    width: 100%;
    display: inline-block;
}
.price_new_ctm_in{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom:5px;
}
.price_new_ctm_in h5{
    display: inline-block;
    text-align: left;
    width: 38%;
    font-size: 21px;
    color: #363636;
}
.price_new_ctm_in span{
    width: 20%;
    display: inline-block;
    text-align: left;
    font-size: 17px;
    color: #363636;
    font-weight: 600;
}
.form-container .btn {
    background-color: #2e5090;
}
.form-container{
    max-width: 100% !important;
}
.categories-list-ctm .entry img {
    width: 90px;
    height: 90px !important;
}
.price_cate h5 {
    padding-top: 10px;
    position: absolute;
    right: 0px;
    top: 15px;
    margin-top: 0px;
}
.share_model ul li a .fa-facebook-square:before{
    font-size: 30px;
    color: #4267B2;
}
.categories-list-ctm .dtl_ctm_icon img{
    height: auto !important;
}
.slider-slick .restaurent_logo{
    height: 164px !important;
}
.welcome_logo_profile{
    margin: 40px auto 0px auto;
    display: block;
}
.menu_item_count_img_fix{
}
.categories-list-ctm .entry .menu_item_count_img_fix img{
    width: 130px;
    /*height: 130px !important;*/
}
.slider-slick .slick-dots{
    bottom: -30px;
}
.slider-slick .slick-dots li button{
    background: #b7b7b7;
}
.form-container .btn{
    background-color: #2e5090 !important;
}
/*.disable_click{*/
/*    pointer-events: none;*/
/*    cursor: default;*/
/*}*/
.dtl_ctm_icon {
    /*position: absolute;*/
    bottom: 3px;
}
.menu_item_img{
	
}
.menu-item-details{
    position: unset;
}
.app-section-category .likedislikerate {
   /* position: absolute;*/
    right: -3px;
    bottom: 3px;
}
div#t1 .app-title, div#t2 .app-title,
div#t1 .app_fav_items_main, div#t2 .app_fav_items_main{
    padding-left: 15px;
}
.menu-list.categories-list-ctm.app-section.app-section-ctm.app-section-category ul.tabs {
    margin-top: 10px;
}
span.allergy_red {
    /*position: absolute;*/
    background-image: url(../img/allergy-icon.png);
    z-index: 1;
    top: 0;
    left: 58px;
    background-repeat: no-repeat;
    height: 47px;
    width: 47px;
}
.entry.disable_click:after {
    position: absolute;
    background: rgba(255,255,255,0.6);
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}